mat-list {
  max-height: 230px;
  overflow: auto;

  &.list--good {
    mat-list-item {
      background-color: rgba(204, 252, 109, 0.5);
      border-bottom: solid 1px rgba(204, 252, 109, 0.8);
    }
  }

  &.list--ok {
    mat-list-item {
    background-color: rgba(244, 179, 182, 0.5);
    border-bottom: solid 1px rgba(244, 179, 182, 0.8);
    }
  }

  &.list--actions {
    mat-list-item {
    background-color: rgba(210, 199, 243, 0.5);
    border-bottom: solid 1px rgba(210, 199, 243, 0.8);
    }
  }

  .retro-item-wrapper__text {
    font-style: italic;
    font-size: small;
  }
}
mat-form-field input{
  font-size: smaller;
}
