mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  z-index: 9;
}

::ng-deep .no-data-wrapper {
  border: 1px solid #eee;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 8px 16px;

  button{
    width: fit-content;
    margin: auto;
  }
}
